[2015-12-02 22:49] pevers opened #2 "add test cases"
Need to have some test cases because headless scraping can be really really buggy!

[2016-01-05 15:21] pevers commented on #2
I DID IT!

[2016-01-05 15:21] #2 closed

[2016-03-05 01:34] jaredscheib opened #5 "Google result count maxes out at 100, 200, or 300"
hey @pevers, thoughts on this by chance?

If I try to get 1000 images, it will only return 100, 200, or 300. I think it has to do with the scrolling emulation and the timeout built into this mechanism.

About to dive back in to see how to get 1000 or more images at a time.

[2016-03-07 07:18] pevers commented on #5
@jaredscheib Thanks for reporting, the Google scraper is really tricky and it is hard to get it robust. I'll have a look into it asap (really busy at the moment).

[2016-03-07 07:20] jaredscheib commented on #5
Gotcha - thanks. Maybe I'll just switch over to Bing, Yahoo, & Picsearch. Something about brand-loyalty kept me on Google :)

[2016-03-19 14:08] TimZaman commented on #5
+1; Did you look into this @pevers ?

[2016-03-22 15:46] pevers commented on #5
@TimZaman not yet, I'll try to fix it this weekend.

[2016-04-25 13:33] davguij opened #6 "Nightmare memory leak"
Google scraping fails completely. This is part of the console log:
[code]

[2016-04-25 14:36] pevers commented on #6
Thanks! Ill be working on it tonight!

[2016-04-25 14:40] davguij commented on #6
Great to hear.
To give you some more context, Nightmare fails on Win7.
I've spun up a VM with Ubuntu and Nightmare works fine, but I get a `Cannot read property 'match' of undefined` error :(

[2016-04-25 18:16] #5 closed

[2016-04-25 18:19] pevers commented on #5
Fixed the issue, cleaned up a lot of unneeded code. Seems to be working again, sorry for the delay @TimZaman and @jaredscheib

[2016-04-25 18:19] pevers commented on #6
Seems to be fixed now, can you test it again on Windows? I also updated Nightmare to the latest version.

[2016-04-25 20:53] ferroariel opened #7 "Failed to boot on Meteor v1.3+React app"
App fails to boot , error is following

[code]

[2016-04-26 00:43] jaredscheib commented on #5
Thanks @pevers!

[2016-04-26 07:39] pevers commented on #7
I don't think this is related to images-scraper @ferroariel ?

[2016-04-26 08:53] davguij commented on #6
Works now. Sort of.
I've tested on Windows 7, freshly installed Node.js 4.4.3.
I ran the example code. I actually got the 10 first results from Google, but right after that console spits an error:
[code]
However, if I use
[code]
the error disappears.
Totally usable now, though, so good job and thanks!

[2016-04-26 14:01] ferroariel commented on #7
I´ve installed this package on a Meteor Blaze based project with success.
Now, when trying to do the very same on a React based app, this error is being thrown, and due to the fact that the project uses several packages and works OK, this thing has to be related to this package in some way
I´ll let you know if I can find something on my behalf

[2016-04-26 14:07] pevers commented on #7
@ferroariel Looks like there is no support for ECMAScript 6. Maybe it is using an old version of Node where ECMA6 was not on for default?

[2016-04-26 14:50] ferroariel commented on #7
Local Node is v4.4.2

On Tue, Apr 26, 2016 at 11:07 AM, Peter Evers <notifications@github.com>
wrote:

--
Saludos,

*Ariel Ferro*
*Cel*: (011) 15 6614 7084

www.alegoriaweb.com <http://www.satela.com.ar/>
Diseño Web Multiplataforma

[2016-05-03 07:02] devcollectief commented on #7
@ferroariel can you dump your `package.json` && `bower.json` here as well as the node version you are using on that windows machine and the windows version?

[2016-05-03 12:56] ferroariel commented on #7
​Node v
​4.4.2

[​package.json]​
​
​
​{
  "name": "mskeor-react",
  "private": true,
  "scripts": {
    "start": "meteor run"
  },
  "dependencies": {
    "core-js": "^2.2.2",
    "domready": "^1.0.8",
    "fbjs": "^0.8.0",
    "images-scraper": "^2.0.9",
    "meteor-node-stubs": "^0.2.3",
    "object-assign": "^4.0.1",
    "react": "^15.0.1",
    "react-addons-css-transition-group": "^15.0.1",

[2016-06-10 11:30] #6 closed

[2016-07-19 16:19] btray77 opened #8 "Not Exiting"
For some reason it's not calling end() on the nightmare portion of the script and hanging.

[2016-07-20 07:25] pevers commented on #8
Thanks for opening an issue! I'll have look asap!

[2016-09-01 22:23] AlexunderMicrocontrol opened #10 "Larger Images"
Hi.
When i try to get larger images i only get the url  for the thumbnail.
Seems like resolution: 'l' doesn't have an impact or am I doing something wrong?
 Greetz

[2016-09-04 16:36] pevers commented on #8
Hey @btray77 are you sure you are running the latest version? Are you still having these issues if you check out the master branch and try to run the example?

[2016-09-04 16:37] pevers commented on #10
Hi @AlexUnderMicrocontRoll I've tested it using this:

[code]

And I do get large images. Can you post your code and the response?

[2016-09-12 22:45] kikeonline opened #11 "No output with Google Example."
Im getting absolutely no output with the Google Example. Bing works great.

[2016-09-14 07:05] pevers commented on #11
Thanks @kikeonline I'll have a look!

[2016-09-18 16:39] pevers commented on #11
I can't seem to reproduce this @kikeonline, could you post your package.json file?

[2016-11-06 20:06] davisking opened #12 "SyntaxError: Unexpected token ILLEGAL"
I grabbed the code from github and ran the example.js but got an error.   I'm running on ubuntu and installed node through apt-get.  This was the output I saw from `node example.js`
[code]

Do I have to do anything special to make this work?

[2016-11-08 20:16] pevers commented on #12
Looks like template literals are not supported. This is Node prior 4.3.2, so try to install the latest Node (not from the software center).

[2016-11-09 22:09] jake-g opened #13 "bing vs yahoo"
is it just me or are both of these returning the same links? Searching dog or trump returns the same images.

[2016-11-10 00:12] joeljacobs opened #14 "Google Gives Error: spawn EPERM"

[2016-11-10 00:32] #14 closed

[2016-11-20 04:56] cimenx commented on #11
i think its related with this https://github.com/segmentio/nightmare/issues/224
when i run it on docker container it doesn't output anything

[2016-11-20 09:58] cimenx opened #15 "google.on('result', cb) not working"
try to listening event 'result'
[code]
it doesn't
output anything
But when i try using bing it give me the result (from bing of course)
[code]

[2016-11-29 00:10] Saulzar opened #16 "Get thumbnail images"
Hi there - great project!

Is there any way to grab those thumbnail images, since it downloads them anyway? Does electron or nightmare have some kind of cache?

Cheers,
Oliver

[2016-11-30 00:20] #16 closed

[2016-11-30 00:22] Saulzar opened #17 "Advanced option 'color' does not work"
If changed in the advanced options 'color' has no effect. You can see when 'show' is set to true that it does not change in the search options.

Great tool by the way!

[2016-11-30 00:29] Saulzar commented on #17
Seems to be fixed in github version...

[2016-11-30 00:29] #17 closed

[2016-12-02 19:13] gideonjones opened #18 "Possible to save/download images scraped?"
Is it possible to save the image that results from the search? Alternatively to couple your output with the "request" node package, which could download the image based on the URL, how would one pass/return only the url of the output your application provides?

Apologies if the "issues" section isn't the right place for what is essentially a feature request, I realise it's not your job to teach me

[2016-12-02 19:14] gideonjones commented on #15
I'm replicating this - not an issue for me as bing sufficient for my needs but just chiming in.

[2016-12-04 09:18] pevers commented on #18
Yes this is possible. You can use request to download the image and pipe it to a file using fs like in this example:

http://stackoverflow.com/questions/12740659/downloading-images-with-node-js

[2016-12-04 09:18] #18 closed

[2016-12-04 09:19] pevers commented on #15
@cimenx Can you see what's happening when you enable the 'show: true' parameter? Maybe something is going on with Electron.

[2016-12-04 09:20] #12 closed

[2016-12-06 10:53] pevers commented on #13
Sorry for the late response, I'll have a look asap

[2016-12-06 10:55] pevers commented on #15
I'm wondering if this can be caused by a fresh Electron instance without cache. The first time it uses Google a 'Accept the policy' window appear that can possibly prevent the search.

[2016-12-06 10:57] pevers commented on #15
Or it can be related to this:
https://github.com/pevers/images-scraper/issues/11

If you are running this in a server environment

[2016-12-08 12:08] davisking commented on #12
Sweet, thanks.  Didn't realize the version of node in ubuntu's package manager is crazy old.

[2016-12-18 21:50] pevers commented on #13
I checked it and Bing and Yahoo are returning different results.

[2016-12-18 21:50] #13 closed

[2016-12-18 21:50] #15 closed

[2016-12-18 21:54] pevers commented on #11
This can be closed as a fix is posted in the related thread:

[code]

[2016-12-18 21:54] #11 closed

[2016-12-18 21:55] #10 closed

[2016-12-18 21:55] #8 closed

[2016-12-18 21:55] #7 closed

[2017-02-08 20:58] ghubcompressedtime opened #19 "Is there a way to prevent the Google image scraper from scrolling down and loading tons of images?"
It takes a long time and I only want to load the first ten or so images in any case.

Thank you.

[2017-02-12 14:36] pevers commented on #19
Hi @ghubcompressedtime,

It is possible, I would however change the code by removing the Nightmare headless browser and switch to a simple Request call that fetches the first page of Google images. That is beyond this project but I can try to come up with an early opt-out option that stops scrolling as soon as it hits x results.

[2017-03-30 06:45] azarus opened #20 "No result."
Not working?
[code]
The output:
[code]

Also no errors?
What am i doing wrong?

[2017-03-30 06:47] azarus commented on #20
Oh looks like its a different or older project on npm:
https://www.npmjs.com/package/google-images-scraper

Please do something about its ince its the first one i found on google :D

Installed the correct package and now works like charm 💃

[2017-03-30 17:02] pevers commented on #20
Thanks! Ill fix it, this is indeed an old version.

[2017-06-13 08:54] Mwea opened #21 "Limit reached"
Hi !

I just tried your code but; it seems to be limited to only 600 images per scrapper, is it normal ?
[code]

[2017-06-13 09:44] pevers commented on #21
Hi @Mwea , it is possible because Google will not always show 1000 results I believe. The scraper will scroll through the page and fetch as much results as possible.

[2017-06-13 14:50] Mwea commented on #21
Hi !  @pevers
I just saw that the scrapper stop to get data when it sees the "show more results" link of google,
this could be great if the code was able to "click" on this button and keep downloading.
:+1:

[2017-08-23 08:52] Jehanramadhan opened #22 "Specific resolution of images"
there's some options can i add to get images with some spesification of resolution?

[2017-08-28 08:07] efstathiosntonas commented on #18
Sorry for digging this old issue, here's a complete code for downloading images

`var Scraper = require ('images-scraper'),
    google = new Scraper.Google(),
    fs = require('fs'),
    request = require('request');

google.list({
    keyword: 'banana',
    num: 2,
    detail: true,
    nightmare: {
        show: true
    },
    rlimit: '10',			// number of requests to Google p second, default: u

[2017-09-08 11:49] pevers commented on #22
Sorry for the late response @Jehanramadhan . There is:

[code]

[2017-09-22 03:38] #22 closed

[2017-09-22 11:53] akshayseth opened #23 "Unable to install"
Hi,
I am requiring it in my API and below is the code:
var Scraper = require ('images-scraper')
  , google = new Scraper.Google();

google.list({
      keyword: 'banana',
      num: 10,
      detail: true,
      nightmare: {
        show: true
      }
    })
    .then(function (res) {
      console.log('first 10 results from google', res);
    }).catch(function(err) {
    console.log('err', err);

[2017-09-23 05:28] #23 closed

[2017-10-13 14:50] ramazan793 opened #24 "Electron failed to install correctly, please delete node_modules/electron and try installing again"
When I am typing `var Scraper = require('images-scraper')` and running a server appears an Electron error.  I tried to reinstall this module, but it doesnt work. Is this module comptible with Electron?

[2017-10-13 14:53] #24 closed

[2017-10-13 14:54] ramazan793 commented on #24
Ok, im so sorry. i just need to install electron with this: --save-dev --save-exact

[2017-10-13 19:01] ramazan793 commented on #19
So, you did it?

[2017-10-28 15:16] ThadeuLuz opened #26 "Google and Picsearch "result" event never gets triggered"
Used the exact code on the readme. Works for bing and yahoo.

[2017-11-02 08:07] ExpatRights opened #27 "Output gets 'Truncated'"
Everytime I run this in Windows Powershell command line  "node bing-images-scraper-2.js" with 100+ items, the output gets 'truncated'. I tried using > to output to a file, I try editing Powershell settings, etc. The output gets 'truncated' and ends at line ~700 with:

  ... 224 more items ]

Just using the basic Bing scraper provided by Pevers. Help?!

[2017-11-02 12:22] pevers commented on #27
I think the console.log is truncating the response since a new Node version.

Try logging it as:

[code]
Or write it directly to a file using fs.

[2017-11-05 20:03] #27 closed

[2017-11-05 20:04] ExpatRights opened #28 "Google and Bing scraper's "end early" for big numbers of images"
I watch in Nightmare and it seems they don't even finish scrolling (when run for 1000 items) and just terminate.

I want to get 1000 pictures with them!!!

Yahoo works fine etc.

[2017-11-05 20:04] ExpatRights commented on #27
Thanks! I got a redditor to help too, it's a console.log issue.

[2017-11-30 13:38] Manish-Mehta opened #29 "Not working on Heroku"
Not returning anything while scrapping from Google on Heroku platform.
images are scraped finely in my local environment, but when code is deployed in Heroku nothing is happening no error no result from promise.

[2017-12-12 11:22] aayushsinghm16 commented on #29
same here, It doesn't work

[2018-01-15 14:30] AbderrahimRayes opened #30 "How can i specify usage rights, and picture size in google picture searche"
Hi, nice work, is there any option to specify the usage right, and the picture size when querying the google images api ?

[2018-02-01 15:47] snehal96 opened #31 "navigation error"
Hey, using images-scraper, I keep on getting navigation error everytime!
Also, if I try to push the results in an array it throws me with error!

[code]
`
The error is:
[code]

[2018-02-21 14:51] spohngellert-o opened #32 "Bing Scrape Not Working"
I tried using the scraper today for bing but it could only get around 20 results. Working for yahoo.

[2018-02-27 09:23] #30 closed

[2018-03-28 14:33] kashifeqbal opened #33 "Unable to Install"
run this command `npm install images-scraper --save`
got this error in console
[code]

[2018-05-07 06:13] sungkuk5420 commented on #29
I am using a translator.

This is a problem in which Nightmare does not work in Linux.

I found your answer on the link below.

https://stackoverflow.com/questions/34795037/nightmare-js-not-working-as-expected-on-ubuntu-linux-cloud-server

Below is the bash script to install nightmarejs with node (4.2.4) on a clean Ubuntu Linux machine. I've tested this on a DigitalOcean droplet running 14.04.

[c

[2018-05-07 12:50] tecfu commented on #33
Try:

[code]

[2019-08-28 05:15] perpetualchaos opened #34 "update package versions"
Please upgrade the following, it should remedy the following issues

- nightmare@3.0.2 https://electronjs.org/blog/filereader-fix#mitigation
- cheerio@1.0.0-rc.3 https://github.com/lodash/lodash/issues/3359
- lodash@4.17.12 https://github.com/lodash/lodash/issues/3359
- validator@5.0.0 https://github.com/validatorjs/validator.js/issues/502

[2019-09-06 09:01] pevers commented on #34
Thanks @perpetualchaos ! I will try to update this shortly

[2019-09-29 16:19] pevers commented on #19
I have finally fixed this.

[2019-09-29 16:19] #19 closed

[2019-09-29 16:19] #20 closed

[2019-09-29 16:20] pevers commented on #21
It is doing that. Closing it.

[2019-09-29 16:20] #21 closed

[2019-09-29 16:20] pevers commented on #26
Revamped everything. If this is still an issue please check. I'm closing it.

[2019-09-29 16:20] #26 closed

[2019-09-29 16:20] pevers commented on #28
Revamped everything. If this is still an issue please check. I'm closing it.

[2019-09-29 16:20] #28 closed

[2019-09-29 16:21] #29 closed

[2019-09-29 16:21] pevers commented on #31
Revamped everything. If this is still an issue please check. I'm closing it.

[2019-09-29 16:21] #31 closed

[2019-09-29 16:22] pevers commented on #32
I removed Bing for now and focussed on Google solely so that I'm able to maintain this project.

[2019-09-29 16:22] #32 closed

[2019-09-29 16:22] pevers commented on #33
See @tecfu

[2019-09-29 16:22] #33 closed

[2019-09-29 16:22] pevers commented on #34
Everything is done. Thanks!

[2019-09-29 16:22] #34 closed

[2019-12-09 11:26] ururk opened #36 "Scraper hangs if page takes too long to render"
Running the latest version of node.js (12), images-scraper, on OS X Mojave.

When running the code, sometimes the page takes too long to render - so when it is instructed to scroll there are no scrollbars and it cannot reach the end of the page. I've "fixed" this by adding a one-second delay:

[code]

I'm not all that familiar with puppeteer, so am not sure if this works the way I think it does, a

[2019-12-09 11:31] ururk commented on #36
The other possibility is that `ksb._kvc` never appears on the page sometimes.

[2019-12-09 17:22] pevers commented on #36
Thanks for finding this issue @ururk

I think it would be better to wait for page load. That can be achieved by doing this right after to goto:
`page.waitForNavigation({ waitUntil: 'networkidle0' });`

[2019-12-10 14:54] ururk commented on #36
Great! I'm still getting the same issue though - page loads but does not find any results. What I've found, is every time this happens, the meta JSON dos not load on the page (no `.rg_meta` element) nor are there any `.rg_l` elements. I see some errors in the web browser console:

[code]

No network errors, though, so I'm at a slight loss as to why this is happening. I even tried updating to the l

[2019-12-25 10:23] pevers commented on #36
Thanks for investigating @ururk . I can't seem to reproduce it

The error you see might be resolved by doing this: https://github.com/puppeteer/puppeteer/blob/master/docs/api.md#pagesetbypasscspenabled

Can you please try? Thanks, I'm reopening this issue.

[2019-12-25 11:15] pevers commented on #36
I managed to reproduce it @ururk . I think [this](https://github.com/puppeteer/puppeteer/blob/master/docs/api.md#pagesetbypasscspenabled) fixes it. I'm pushing it to a new version shortly.

[2019-12-25 14:48] ururk commented on #36
This appears to fix it - I'll run some test searches and let you know how it goes.

[2019-12-25 19:33] ururk commented on #36
I've done about 50 searches - this fixes the problem! I still have random Chromium crashes, but I don't think it's related to this node module's code.

[2020-01-12 19:20] wutayng opened #40 "advanced option for 'Usage rights' filter?"
Is there an appropriate filter for 'Usage rights' options on Google Image Search similar to the options below: ?

[code]

[2020-01-13 07:47] pevers commented on #40
Yes there is: https://github.com/pevers/images-scraper/pull/39

I added a general option field to pass down as query parameters. In the last update you can do:
`tbs: { sur: "fc" // commercial reuse }` for example

[2020-01-13 20:32] #40 closed

[2020-01-29 15:14] Sentero-esp12 opened #41 "Error: Failed to launch chrome! [7540:10164:0129/180956.284:FATAL:content_main_runner_impl.cc(526)] --single-process is not supported in chrome multiple dll browser."
I'm getting this error with the default example:
Windows 7 64bit
Node.js 12.13.0

[code]

[code]

This works, on the other hand:

[code]

[2020-02-21 10:14] IamRifki opened #42 "Example code returns an empty array."
I went through a debugging hell of things, until I realized that even your example will only return an empty array, at least on my computer. With a fresh install of Node 12, a new project initialized with `npm init` and just your dependency and your example code, I was not able to get ANY result what so ever.

[code]

[2020-02-21 10:30] pevers commented on #42
Recently the structure returned by Google changed. I need to spent some time to adjust it accordingly. Sorry @IamRifki !

[2020-02-21 10:30] IamRifki commented on #42
Ah, I see.

[2020-02-21 10:34] pevers commented on #41
Thanks for pointing this out. I introduced this flag as a hotfix because of an issue with Puppeteer not supporting the multi-process. We can probably remove it.

[2020-02-26 22:18] yazer79 commented on #42
Google removed meta data. The current image urls are in the js script. The link is added to DOM after the click on thumbnail to open the preview

[2020-02-26 22:34] IamRifki commented on #42
@yazer79 If that's the case, is it still possible to scrape the images?

[2020-02-27 08:00] pevers commented on #42
It is still possible to scrape the image but it is unfortunate that there will be no meta data attached to the image. I also think that the scraper will become a lot slower. I'll give it a shot tonight.

[2020-02-28 06:34] IamRifki commented on #42
@pevers Any luck?

[2020-02-28 07:41] pevers commented on #42
Not yet. I think I would have to adjust it to click all images after the first page.

[2020-03-12 13:00] IamRifki commented on #42
@pevers It's been 13 Days, have you found a solution?

[2020-03-13 14:15] DanHelfman commented on #41
Windows 10 64-bit
Node.js 12.16.1

Was the above issue resolved, and if so, where was the ignoreDefaultArgs entry added (i.e., which json file)?  I am experiencing a nearly identical error message in trying to run some code on a PC that had originally been written on a Mac:

 Failed to launch chrome!
    [0313/090739.274:FATAL:content_main_runner_impl.cc(526)] --single-process is not supported in

[2020-03-14 20:09] scbj commented on #42
I have the same problem with my C# crawler, I still haven't figured out how to be efficient when retrieving Google images ...
Tt really seems to be wanted by Google, the biggest crawler does not want us to crawl its content ^^

[2020-03-18 10:59] yazer79 commented on #42
@scbj  yes sure, but the links are still rendered when the item is clicked on. I think that's where we should start

[2020-03-18 13:09] scbj commented on #42
@yazer79 Yes indeed it works, I used this technique to recover album covers (square image). It's just slower but it's a solution.

<details>
<summary>SearchEngine.CrawlImages()</summary>
[code]
</details>

[2020-03-18 13:50] IamRifki commented on #42
Any chance of someone doing this for JS?

[2020-03-18 16:58] scbj commented on #42
@IamRifki Before, I think the metadata that was retrieved so far needs to be reviewed. For example, I did not find the MIME type, nor the original dimensions (`ow `and `oh `still exist in `data- *` attribute but no longer correspond to the original size. 🤷‍♂️

https://github.com/pevers/images-scraper/blob/877c9acdb75e15de9139f565ac46c89fc1359e38/lib/google-images-scraper.js#L63-L70

[2020-03-18 21:56] IamRifki commented on #42
Honestly, I think we would have better luck with Yandex images.

[2020-03-19 20:21] scbj commented on #42
Yes it can there is every metadata we want with Yandex

<details>
  <summary>JSON object in `data-bem` attribute</summary>
  <p>

[code]

  </p>
</details>

But Yandex will not suit everyone. In my opinion, it would be interesting to support Google and Yandex, as desired. The package name will be aptly named for that !

@pevers Can we do that? What are your thoughts?

[2020-03-19 23:04] IamRifki commented on #42
@scbj I think Peter wants to focus on Google.

[2020-03-19 23:59] IamRifki commented on #42
@scbj I'm trying to make a yandex version, but I'm stuck at this:
[code]

[2020-03-20 02:21] scbj commented on #42
@IamRifki To make it work with Google you can add this at the beginning of the file :

[code]

And replace the `page.evaluate(...)` call by :
[code]

[2020-03-20 02:23] IamRifki commented on #42
@scbj It's Yandex, not Google.

[2020-03-20 02:28] IamRifki commented on #42
@scbj Does email sound good?

[2020-03-25 09:01] smokes commented on #42
The links are rendered and start with "/imgres?imgurl" when you right click the item. So we don't have to actually load the full res image.

[2020-03-26 19:49] pevers commented on #42
@scbj I think it is a good idea to support multiple search engines. Yandex is built for it. It is a constant game of catch and mice and as you might have seen I was pretty busy. So a search engine that has an API wouldn't be hard to maintain :).

@smokes I gave it a try 2 weeks ago and I noticed that the complete URLs are loaded once you hover/click the item. So what could potentionally work:

1.

[2020-03-26 20:25] smokes commented on #42
Hey, so after a while I made a working script that actually works. One thing to keep in mind if you're going to implement step number 3 (Right click item) is to not use puppeteer for sending right clicks.
Just send a "mousedown" MouseEvent in the browser which is almost instant.

Here's a gist containing my approach:
https://gist.github.com/smokes/f951a219e85058a051bf11ef8e72780d

[2020-03-27 01:43] IamRifki commented on #42
I wrote my own solutions for Yahoo and Ecosia, I tried Yandex, but it seems to be a bit complex. https://github.com/IamRifki/alt-image-scraper

[2020-03-28 11:39] scbj commented on #42
@pevers Great for multiple search engines. On the other hand I am not sure that I understood. Yandex doesn't have a search API, so what did you mean?

Just send a "mousedown" MouseEvent in the browser which is almost instant.
@smokes Thank you, we can take inspiration from it! However, the "limit" option is a bit confusing here. So far this was the desired number of results.

So far, so good, I wi

[2020-03-28 12:07] smokes commented on #42
@scbj The limit option is the amount of scrolls to the bottom of the page. limit = 1 results in 100 images. Sorry for the confusing code 😄

[2020-03-28 14:23] scbj commented on #42
@smokes No worries 😄, it's just that I think the "limit" parameter should refer to the expected number of results

[2020-03-28 14:35] smokes commented on #42
Yeah, well the way its coded is that it scrolls the the bottom multiple times until it reaches the scroll limit or there are no more results and then grab the urls. I don't know of any way to make it scrape simultaneously while scrolling.

[2020-03-28 16:45] scbj commented on #42
@pevers I worked on it, does [this API](https://gist.github.com/scbj/9ffd8b29fce887049eeab46b6ad0e789) seem suitable to you?

[2020-03-29 00:20] IamRifki commented on #42
Yeah, it looks fine by me.

[2020-03-29 12:45] pevers commented on #42
Nice! I like the idea of having an interface for different search engines. I do think that we need to move engine specific options as much as possible to the `Scraper` instance constructor.

So we call `new Scraper({ engine: 'yahoo', ...yahooSpecificOptions })` . That will construct a new `YahooScraper` And the `YahooScraper` class will throw an error for invalid options when constructed.

The `se

[2020-03-29 16:07] #41 closed

[2020-03-29 16:08] pevers commented on #42
I have committed a fix. Let me know if it is still broken because it might differ per platform and internet speed.

[2020-03-29 16:09] pevers commented on #41
This is fixed in #43 by upgrading Puppeteer.

[2020-03-29 16:09] #36 closed

[2020-04-08 00:36] OlivierDa opened #44 "Infinite loop when setting a limit over 150 images"
Hi,
I just ran in a bug,  it seems that the scrapper goes crazy when changing pages.
I added some logs and monitored the results and it seems the results array in the while loop is doing something like :
- 0 results
- 50 results
- 100 results
- 150 results
- 100 results
- 150 results
etc...
The limit is never reached and the while is never exited... Maybe a bug or a missing test (if the limit is o

[2020-04-08 16:22] pevers commented on #44
I can't seem to reproduce it. Can you see what happens visually with the option `headless: false`? I check for the button "Looks like you've reached the end" to see if the end is reached. I suspect that it might be a caused by an internationalization difference.

[2020-04-09 13:43] OlivierDa commented on #44
Unfortunately, i'm using the scrapper in a node js REST API on a remote debian server.  So i can't have a visual verification... I'll try to reproduce the problem later!

[2020-04-11 07:24] pkhigh opened #45 "Unable to scrape URLs more than 100"
Hi,
I have attached the console output whenever I try to input the limit more than 100.
![Screenshot 2020-04-11 at 3 22 48 AM](https://user-images.githubusercontent.com/34805449/79038007-fb0c6280-7ba3-11ea-9a61-ab692a0def34.png)

[2020-04-11 08:14] pevers commented on #45
Hi @pkhigh

I don't really understand the issue. How many results did you get? What was the limit? Is it possible that you didn't get more because there are none?

[2020-04-11 08:34] pkhigh commented on #45
It was an issue with console output limit. I solved it by changing the maxArrayLenght console to None. By default it was set to 100.

[2020-04-24 04:03] ledlamp opened #46 "I set 300 but scraper is only getting 200 images."
[code]
It's always 200.

[2020-04-24 16:56] diornister commented on #46
basically on file images-scraper/src/google/scraper.js, line 64 there is a mistake,
results = links.slice(0, limit - results.length);
should be
results = links.slice(0, limit);

if the owner give me permission i could make a pr to fix this.

[2020-04-24 18:06] ledlamp commented on #46
Can't anyone open pull requests?

[2020-04-24 18:10] diornister commented on #46
he needs to give permission for this.

[2020-04-24 18:11] diornister commented on #46
But as a fix, you can set your limit to double of what you want, and it will fetch you more images.

[2020-04-24 18:12] ledlamp commented on #46
https://github.com/pevers/images-scraper/blob/8cef8c8b5f3459eda60558080515df84803d4143/src/google/scraper.js#L56-L71

It looks to me like `results = links.slice(0, limit - results.length);` should be `results.concat(links);` and `results = results.slice(0, limit - results.length);` should be added after the while loop.

[2020-04-24 18:15] ledlamp commented on #46
Or wait no, HTML will have all the images in it. 🤔

[2020-04-24 18:25] ledlamp commented on #46
Ah yes I think you're right; `limit - results.length` would work if the number of results is greater than the limit, then it gets a negative number to slice back from. But when it's less (say 100 results) and limit is 300... wait then it won't do anything...
Hmm I think either way it'll do the same thing; both `.slice(0, 300 - 100 )` and `.slice(0, 300)` will not change the 100 long array, and `.s

[2020-04-25 10:24] #46 closed

[2020-04-25 10:24] pevers commented on #46
Everyone should be able to fork it and create a pull request.

But there is indeed a mistake here @ledlamp . Sorry, I have fixed it here: https://github.com/pevers/images-scraper/pull/47

[2020-04-25 10:25] #45 closed

[2020-04-26 22:15] steven-tel commented on #44
Hi,
I get the same issue when I try to get 800 images, the script try too scroll down to get more results but google wont give more, so the script is stuck .

[2020-04-27 10:04] pevers commented on #44
Hmm it might be a better idea to just check wether we were able to fetch more results. I think it is flaky because of localization.

So I created this PR: https://github.com/pevers/images-scraper/pull/48/files

Hopefully this fixes it for you.

[2020-05-06 18:51] letoribo commented on #42
about an hour ago the results array became empty again

[2020-05-06 20:04] Extracreative opened #49 "NPM Test is failing"
[code]

[2020-05-06 20:12] pevers commented on #42
Thanks @letoribo for reporting. I think it is fixed in: https://github.com/pevers/images-scraper/pull/50

[2020-05-06 20:12] pevers commented on #49
Thanks for reporting @Extracreative . I believe it is fixed in: https://github.com/pevers/images-scraper/pull/50

There were some issues with JS injection of the real image URLs.

[2020-05-06 20:30] Extracreative commented on #49
@pevers  Thank you

[2020-05-06 20:30] #49 closed

[2020-05-06 21:23] letoribo commented on #42
yes, i can confirm, thank you.
my app does work now:
https://spaces3d.herokuapp.com/

[2020-05-07 08:54] steven-tel commented on #44
Thanks, for me it's working well now  !

[2020-05-12 14:44] letoribo commented on #42
the results array is sometimes still empty.
fixed this by switching to page.waitForSelector:

https://github.com/letoribo/images-scraper/commit/68737b3167ad4f46e9340b093a6218699e1201a2

[2020-05-12 14:47] pevers commented on #42
Thanks! Can you open a pull request. Then I will merge it.

[2020-05-15 22:52] #42 closed

[2020-05-26 21:34] Arthur-Palhano opened #52 "Headless Navigator"
# Can i use a Headless Navigator, if yes, wich?

[2020-05-28 16:06] #52 closed

[2020-06-20 17:12] ctzntx commented on #44
I can also confirm that trying to get larger number of images fails. Running the example from README with `limit` set to 1000, the `results` always contains a smaller number of items (300, 400, depending on the run).

[2020-11-20 02:37] RickJP opened #54 "returns an empty string for description"

[2020-12-23 12:19] WhoIAm451 opened #55 "Error on heroku"
When i use the images-scraper api on heroku i have this error :
Error: Failed to launch the browser process!

[2020-12-29 05:02] feroci1024 commented on #55
You must install https://elements.heroku.com/buildpacks/jontewks/puppeteer-heroku-buildpack
and also, set this in CLI
`npm config set puppeteer_download_host=https://npm.taobao.org/mirrors`
then, reinstall puppeteer

[2021-01-03 16:10] jaydenkoh opened #56 "Repl.it: Failed at the puppeteer@2.1.1 install script"
I tried to install and it just said failed to install at the puppeteer

[2021-01-16 16:00] pevers commented on #54
Thanks for reporting! I'm removing it doesn't add much value.

[2021-01-16 16:00] #54 closed

[2021-01-16 16:02] pevers commented on #55
Thanks @feroci1024 ! Closing this and adding it to the README.

[2021-01-16 16:02] #55 closed

[2021-01-16 16:56] pevers commented on #56
Thanks for reporting @jaydenkoh . Can you try again with the latest version? I upgraded all dependencies.

[2021-01-25 14:52] davi-fonto opened #59 "Repl.it: failed to install images-scraper"
Hi, i tried to download your package into a new project on repl and it doesn't work. Can you please fix it? :)

[2021-01-25 17:26] pevers commented on #59
Hi @davi-fonto , can you please provide a bit of context?

What did you try, what is the output and what doesn't work?

[2021-01-25 21:36] davi-fonto commented on #59
![issue](https://user-images.githubusercontent.com/76854811/105769214-c6fd0500-5f5d-11eb-9c5e-407df08e76db.png)
that's the error i see into the repl console

[2021-02-07 17:44] zortos293 opened #60 "how to avoid nsfw content"
i want to turn of nsfw content so that it doesn't  popup on discord how can i do that

[2021-02-20 09:07] AllEyezOnEgre opened #61 "Can't install images-scraper on rep.lit"
Can't install images-scraper on rep.lit

[2021-02-20 16:37] SpeckyYT opened #62 ""Failed to launch the browser process" on Ubuntu"
When trying to scrape images from my Ubuntu machine, I get the following error:
[code]

[2021-02-21 10:28] pevers commented on #56
Hi @jaydenkoh . Sorry for the late response.

I created an example repl.it, you should use a bash repl instead of a NodeJS repl.

Example: https://repl.it/join/hylyxvxc-peterevers

[2021-02-21 10:28] #56 closed

[2021-02-21 10:28] pevers commented on #59
Hi @davi-fonto , sorry for the late response.

You should use a bash repl instead of a nodejs repl.

Example: https://repl.it/join/hylyxvxc-peterevers

[2021-02-21 10:28] #59 closed

[2021-02-21 10:33] pevers commented on #60
It is currently not supported. But I'm open for pull requests.

A naive approach would be "clicking" the toggle in the mainscreen via the headless browser.

[2021-02-21 10:34] pevers commented on #44
I'm closing this one. If anyone is still having issues please let me know.

[2021-02-21 10:34] #44 closed

[2021-02-21 10:34] pevers commented on #62
Hi @SpeckyYT  , sorry for the late response.

You should use a bash repl instead of a nodejs repl.

Example: https://repl.it/join/hylyxvxc-peterevers

[2021-02-21 10:34] pevers commented on #61
Hi @AllEyezOnEgre .

You should use a bash repl instead of a nodejs repl.

Example: https://repl.it/join/hylyxvxc-peterevers

[2021-02-21 10:34] #61 closed

[2021-02-21 11:47] SpeckyYT commented on #62
I never used repl in my life.
I have an Ubuntu Machiene.

[2021-02-21 11:57] pevers commented on #62
Woops, I was a little to enthousiastic closing issues.

Do you pass any options?

[code]

Will not work as root user. So you should either remove that or run it as non-root user

[2021-02-21 13:32] SpeckyYT commented on #62
it works correctly now, thanks.

[2021-02-21 13:32] #62 closed

[2021-03-16 02:08] MarceloBrazolim commented on #60
for a quick fix you could just add "&safe=active" in the searchQuery since there is no formating or treatment at https://github.com/pevers/images-scraper/blob/master/src/google/scraper.js line 42
![Screenshot_8](https://user-images.githubusercontent.com/22665661/111241518-1665c600-85dc-11eb-9e86-6c82e692d15b.png)

for a future version it could be solved with (I already tested and it works just fin

[2021-03-16 08:07] pevers commented on #60
Thanks! This indeed solves it! I've merged it and I'll create a new release.

This is a mistake. I'll fix it. Thanks for reporting

[2021-03-16 08:10] pevers commented on #60
I'm closing this. Feature added in 6.1

[2021-03-16 08:10] #60 closed

[2021-03-24 04:31] MarceloBrazolim opened #66 "bypassable safe mode by final user"
Using *"/search?q=${searchQuery}${this.safe}"* gives the window for the final user to add "&safe=off" to the *searchQuery* disabling the google safe search feature, given that the google engine looks for the first defined criteria and ignores subsequent definitions of the same criteria.

I have tried to use *"safe=active"* before *"search?q="* without success as it return a *404* error page or to

[2021-03-25 00:05] MarceloBrazolim commented on #66
I used a replace() function as a temporary fix that could avoid the recognition of the *"&safe="*.

[code]

This is just temporary tho, it's still recomended to find a definitive solution.

[2021-03-25 02:12] MarceloBrazolim commented on #66
I feel ashamed to notice just now how easy the fix was -_- https://github.com/pevers/images-scraper/pull/67

[2021-03-25 07:57] pevers opened #68 "Add Typescript definitions"
Add Typescript definitions so that it is more usable in Typscript.

[2021-03-25 08:02] #66 closed

[2021-03-27 09:14] #68 closed

[2021-03-27 18:44] Neehaw opened #70 "Only Sending One Image"
So I implemented this into a discord bot, and its only sending the same image, even after adding 200 after the search query in the code. How can I fix this?

[2021-03-27 20:20] MarceloBrazolim commented on #70
It returns the json's in the order it appears in the web, you have to manually shuffle the resuls. I preffer the npm lodash to do so. but you can randomize it anyway you like.

[code]

[2021-03-29 15:12] wwirving opened #71 "Issue adding options to constructor"
Trying to add tbs search options to the constructor returns ReferenceError (fc is not defined)

const google = new Scraper({
  puppeteer: {
    headless: false,
  },
  tbs: {
      sur: fc,
  },
});

ReferenceError: fc is not defined

[2021-03-29 17:00] wwirving commented on #71
solved, "fc" must be passed as string.

[2021-03-29 17:00] #71 closed

[2021-03-31 10:30] WaterMelonOof opened #72 "Stop image scraping immediately when there are no results"
Hi, I just found if google doesn't give any image result "Your search - (search) - did not match any image results.", the method would wait until the timeout. Would like it to end immediately.

![Example](https://user-images.githubusercontent.com/68735408/113130848-15c16680-924f-11eb-9725-6c61e1eb629f.png)

[2021-04-02 08:34] pevers commented on #72
Thanks for the bug report @WaterMelonOof ! I'm taking a look if I can fix this.

[2021-04-02 08:38] pevers commented on #72
I can't seem to reproduce it @WaterMelonOof . Can you try running it with:
[code]

And post the outcome? What version are you using? The latest one? 6.3.0?

[2021-04-02 08:38] pevers commented on #70
Thanks for taking care of this @MarceloBrazolim . I think this can be closed.

[2021-04-02 08:38] #70 closed

[2021-05-16 10:29] pevers commented on #72
Closing this for inactivity. Please reopen if you are still facing this issue.

[2021-05-16 10:29] #72 closed

[2021-05-31 03:45] goodudetheboy opened #76 "Add support for puppeteer-core"
Downloading the whole Chromium dependency is a bit wasteful, consider that some might want to use the available browser to scrape instead. Can you consider adding support for `puppeteer-core`, a more lightweight version of `puppeteer`?

[2021-06-05 09:49] pevers commented on #76
This would definitely be a nice addition. I would still like a simple one-click solution, but also provide a more lightweight approach. Maybe a separate package `images-scraper-core` makes sense.

[2021-07-10 09:12] Neotastisch opened #77 "Only allow png and jpg"
Hi, is there a filter, that only png and jpg will be get?

[2021-07-21 15:39] pevers commented on #77
Hi @Neotastisch , at the moment that is not possible. It does seem to be possible to add `filetype:png` to the search query to get the same results. That would work without having to change images-scraper.

[2021-08-10 07:19] imranbarbhuiya opened #78 "Add a filter for nsfw words"
Add a filter for nsfw words. Also if it is safe mode then please give an example that where should i use the options.

[2021-08-11 15:06] pevers commented on #78
Hey @imranbarbhuiya , you can use the 'safe' option in the constructor.

[code]

[2021-08-15 07:51] Spankyed opened #80 "Slow"
By no way is this library fast. Alot of neccessary operations like setting viewport and scrolling to bottom when only retrieving first result. Consistently taking multiple seconds to get first image result.

[2021-08-16 11:53] imranbarbhuiya commented on #78
Ty got it

[2021-08-16 12:02] imranbarbhuiya commented on #78
hey what this option does? i tought it will filter nsfw images but it isn't doing that.

[2021-08-16 13:38] imranbarbhuiya commented on #78
I've tried like this but it isn't working.
var Scraper = require("images-scraper");
const google = new Scraper({
  puppeteer: {
    safe: true,
    headless: true,
  },
});

[2021-08-21 15:44] MarceloBrazolim commented on #78
this option uses the safe search feature from google, it's the same as turning it on on your browser.
the google safe search feature tries to filter off contents that google understands as NSFW with an artificial intelligence, so it may not be 100% safe after all.

[2021-09-02 17:42] #78 closed

[2021-09-10 10:14] Bigby331 opened #84 "Timeout Error"
**When I do a research :**
  const google      = new Scraper({
      puppeteer: {
          executablePath: '/usr/bin/chromium-browser',
          timeout: 0,
          waitUntil: 'load'
      },
  });

  const results = await google.scrape(`banane`,  5);

**I have this error :**

  /node_modules/images-scraper/node_modules/puppeteer/lib/cjs/puppeteer/common/LifecycleWatcher.js:106
          retur

[2021-09-12 14:20] MarceloBrazolim commented on #84
{4,0} > timeout: 0,

if i'm not mistaken the error given is because you're requesting for a timeout of 0ms, wich is nearly impossible, try increasing this number or removing the constructor option.

[2021-12-04 21:05] KJyds opened #86 "Error with heroku"
Hello, it may sound ridiculous, but how do I fix Heroku's "/app/node_modules/canvas/build/Release/librsvg-2.so.2: undefined symbol: cairo_font_options_get_variations" error?
I've installed https://github.com/jontewks/puppeteer-heroku-buildpack and It caused that error.

[2021-12-28 20:05] nitsanasraf opened #88 "The "url" argument must be of type string. Received undefined"
I am trying to scrape a bunch of categories, and after like 3 images, I get this error and it stops the agent from scraping more.

It does work when I don't use many categories, and for some queries, it works, so overall not stable at all for some reason.

That's my code:

[code]

[2022-02-11 11:32] callmenikk opened #89 "puppeteer doesn't install"
When I run `npm i image-scraper` everything goes well until it starts installing puppeteer it says, I must install `puppeteer@latest` version so it would be better to change version of puppeteer in image-scrapper package

this error causes, stopping of installing image-scrapper
![Code_EqDbtWPlfo](https://user-images.githubusercontent.com/65135792/153584427-470260a0-c84b-425d-a150-bbe6cd4d9520.png)

[2022-06-16 00:52] Glutius commented on #88
I get this issue from time to time too. Any progress?

[2022-07-06 19:34] laserman120 opened #95 "Skipping the Google Accept Cookies page no longer works"
When starting the search it starts up chrome, but gets stuck on the "Accept cookies page" in google, it then resizes and closes as it cannot find any images.

https://gyazo.com/13510e16f0993ee936bbe316b9cb08b4

Here is an example of starting chrome before getting stuck

[2022-07-06 19:53] rolyPolyVole commented on #95
happened to me too. The accept cookies page triggers this
const isScrollable = await this._isScrollable(page);
    if (!isScrollable) {
      console.log('No results on this page');
      return;
    }

[2022-07-07 07:38] laserman120 commented on #95
So after a bit of reading about puppeteer i wrote this together:

`//Google Accept All
    //Search for the button with the text "Accept all"
    const [button] = await page.$x("//button[contains(., 'Accept all')]");
    if (button) {
      //Press the button and wait till the page finishes loading
      await button.click();
      await page.waitForNavigation({
        waitUntil: 'networkidle0',

[2022-07-07 13:00] laserman120 commented on #95
Another approach would be to use the code i provided above to accept the cookies.
You could then use puppeteer to store the cookies locally and then retrieve those on the next session to skip the "accept cookies" page.
This would probably result in faster results as it wont load the page twice like in the current fix.

This solution would require fs as it needs to store it locally.
Here is my atte

[2022-07-07 13:36] pevers commented on #95
Thanks for looking into this and the fix! I'll have a look tonight and test it.

[2022-07-07 18:03] pevers commented on #88
Sorry I can't really reproduce it. Can you provide an OS and version? Can you also describe what happens when it doesn't work?

[2022-07-07 18:05] #84 closed